SetEnvIf Host ^ KITT_TLD=.dev
SetEnvIf Host ^ KITT_SLD=domain-name

php_value upload_max_filesize 64M
php_value post_max_size 128M
php_value memory_limit 256M
php_value max_execution_time 300
php_value max_input_time 300

ErrorDocument 403 http://%{ENV:KITT_SLD}%{ENV:KITT_TLD}/403
ErrorDocument 404 http://%{ENV:KITT_SLD}%{ENV:KITT_TLD}/404
ErrorDocument 500 http://%{ENV:KITT_SLD}%{ENV:KITT_TLD}/500

<IfModule mod_rewrite.c>

	RewriteEngine On
	RewriteBase /

	# authorization for JWT
	RewriteCond %{HTTP:Authorization} ^(.*)
	RewriteRule (.*) - [E=HTTP_AUTHORIZATION:%1]

	# redirect backend
	RewriteRule ^(|wp|wp/|wp-admin|wp-admin/)$ wp/wp-login.php [L,R=301]

	# redirect to REST API
	RewriteRule ^(wp-json/.*)$ index.php/$1 [L,QSA]

</IfModule>
